[run]
branch=True
source=commons
omit=
    commons/config/*
    commons/*/__init__.py
    commons/__init__.py
    .git
    __pycache__
    docs/source/conf.py
    old
    build
    dist
    migrations
    .tox
    settings.py
    *.pyc
    .venv
    venv
    env

[html]
directory=coverage

[report]
show_missing=True
exclude_lines=pragma: no cover
